In [1]:
import csv
import random
import math
import operator

import numpy as np
import pandas as pd

In [5]:
stock = 'aapl'

df = pd.read_csv('%s.us.txt' % stock, index_col=0)
df.drop('OpenInt', inplace=True, axis=1) # OpenInt column seems to be useless
print(df.shape)
df.head()

(8364, 5)

               Open     High      Low    Close    Volume
Date
1984-09-07  0.42388  0.42902  0.41874  0.42388  23220030
1984-09-10  0.42388  0.42516  0.41366  0.42134  18022532
1984-09-11  0.42516  0.43668  0.42516  0.42902  42498199
1984-09-12  0.42902  0.43157  0.41618  0.41618  37125801
1984-09-13  0.43927  0.44052  0.43927  0.43927  57822062